body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.ms-welcome__header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #edebe9;
}

.ms-welcome__main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.ms-welcome__main p {
    line-height: 1.5;
    margin-bottom: 20px;
    color: #323130;
}

#run {
    width: 200px;
    height: 40px;
}

#status-msg {
    font-weight: 600;
}